

@media screen and (max-width: 1000px){
    html {
        font-size: 18px;
    }
    .main-content {
        width: 90%;
    }
    .main-content p {
        font-size: 90%;
    }
    .icon-footer i {
        margin: 0 30px;
    }
    .author {
        grid-gap: 20px;
        width: 90%;
    }
}

@media screen and (max-width: 800px){
    .author {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 730px) {
    html {
        font-size: 17px;
    }
    .main-content p {
        font-size: 100%;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header h1 {
        margin: 0;
        font-size: 300%;
    }
    .beginning-text p {
        text-align: center;
        font-size: 100%;
    }
    .icon-footer i {
        margin: 0 20px;
    }
}

@media screen and (max-width: 600px){
    .header h1 {
        font-size: 230%;
    }
    .icon-footer {
        font-size: 120%;
    }
    .icon-footer i {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .header h3 {
        letter-spacing: 6px;
        font-size: 110%;
    }
    .author {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px) {
    .header h1 {
        font-size: 200%;
        text-align: center;
    }
    .header h3 {
        font-size: 90%;
        text-align: center;
        letter-spacing: 4px;
    }
}