
/* ------ Rest ---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ------------ Set up Variables ------- */
:root {
    --background-color-1: rgb(16,16,16);
    --background-color-2: rgb(231,37,82);
    --background-color-3: rgb(37,37,37);
    --background-color-4: rgba(255,255,255,0.12);
    --color-1: rgb(64,64,64);
    --color-2: rgb(172,172,172);
    --color-3: rgb(255,255,255);
    --color-4: white;
    --font-family-1: 'Lato', sans-serif;
    --font-family-2: 'Pathway Gothic One', sans-serif;
    --font-family-3: 'Oswald', sans-serif;
    --transition-type: cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* ------------ Basic set up ------------------ */
.box {
    width: 90%;
    margin: 0 auto;
}
section {
    padding: 40px 0;
}
section:first-child {
    padding: 0;
}
html {
    font-size: 20px;
    text-rendering: optimizeLegibility;
    line-height: 150%;
    transition: 1s var(--transition-type);
}
.change-theme {
    width: 60px;
    height: 26px;
    background: gray;
    font-size: 70%;
    font-family: var(--font-family-3);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 1s var(--transition-type);
}
.change-theme:before {
    content: "";
    position: absolute;
    height: 22px;
    margin: 2px;
    bottom: 0;
    width: 22px;
    border-radius: 50%;
    background: rgb(200,200,200);
    transition: 1s var(--transition-type);
}
#check:checked ~ .change-theme:before {
    transform: translateX(34px);
    background: gray;
}
#check:checked ~ .change-theme {
    background: rgb(200, 200, 200);
}
body {
    background: var(--background-color-1);
    transition: 0.3s;
}


/* ------------ Wrap text into 3 lines with long Para ------- */
.wrap-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* --------- Style for navigation bar ----------*/
.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(16,16,16);
    z-index: 100;
    height: 70px;
}
.navigation-bar {
    background-color: rgb(16,16,16);
}
.main-nav {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
}
.main-nav li {
    margin: 0 20px;
}
.main-nav li a {
    color: white;
    font-size: 90%;
    font-family: var(--font-family-2);
    position: relative;
    padding: 4px 0;
}
.main-nav li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.4s var(--transition-type);
    border-radius: 50px;
    background-color: var(--background-color-2);
}

.main-nav li a:hover:after {
    transform: scaleX(1);
}

/* ---------- Animation for welcoming --------*/
.loading {
    top: 0;
    position: fixed;
    z-index: 999;
    background: var(--background-color-1);
    height: 100vh;
    width: 100vw;
    color: #666;
    font-family: var(--font-family-2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease;
}

.loading-text {
    opacity: 0;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.4s ease-in-out 0.5s;
}


/* ----------- Progress-bar for animation ------------*/
.fill-bar {
    opacity: 0;
    transition: 0.4s ease-in-out 0.5s;
    margin-top: 8px;
    height: 4px;
    width: 200px;
    background: var(--color-1);
    border-radius: 50px;
    position: relative;
}

.fill {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background: var(--background-color-2);
    border-radius: 50px;
    transition: 1.4s var(--transition-type) 1s;
}


/* ----------- Click 3 white lines to open the side-bar ------*/
#toggle {
    display: none;
}

.bar {
    position: fixed;
    top: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 100;
}

.bar-1, .bar-2, .bar-3 {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    border-radius: 20px;
    background-color: white;
    transition: 0.4s;
}

/* -------- Style the transformation for 3 bars ---------*/
#toggle:checked ~ .bar .bar-1 {
    transform: rotate(45deg) translate(5px, 4px);
}

#toggle:checked ~ .bar .bar-2 {
    transform: translateX(-100px);
}

#toggle:checked ~ .bar .bar-3 {
    transform: rotate(-45deg) translate(6px, -5px);
}


/* --------- Create an animation class then add it to bar-2 with js -------*/
.animate-bar {
    animation: animate-bar 1s ease;
}

@keyframes animate-bar {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-100px);
    }
    40% {
        transform: translateX(12px);
    }
    60% {
        transform: translateX(-12px);
    }
    100% {
        transform: translateX(0);
    }
}


/* ------------ Styling for side-bar ----------*/
.side-bar {
    line-height: 90%;
    background-color: rgb(16,16,16);
    position: fixed;
    right: -300px;
    z-index: 100;
    height: 100%;
    width: 300px;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family-2);
    transition: 0.7s var(--transition-type);
    overflow-y: auto;
}

.view {
    text-align: right;
    margin: 20px 30px;
    font-size: 90%;
    color: #666;
    font-style: italic;
}
.view a:after {
    content: "";
    display: block;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(172,172,172);
    margin: 2px 0;
    border-radius: 50px;
    transform: scaleX(0);
    transition: 0.7s var(--transition-type);
    transform-origin: right;
}

.view:hover a:after {
    transform: scaleX(1);
}

.view a {
    padding: 0 0 8px 0;
    color: rgb(172,172,172);
    letter-spacing: 2px;
    position: relative;
}


/* ------ Style for View All Design section --------*/
.author {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    color: var(--color-3);
}
.author a {
    color: var(--color-3);
    transition: 1s var(--transition-type);
}
.view-all {
    font-size: 250%;
    color: var(--background-color-2);
    width: 70%;
    margin: 0 auto 40px auto;
    font-family: var(--font-family-3);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    position: relative;
    padding: 0 0 25px 0;
}
.view-all:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    background: var(--background-color-2);
}
.author-name {
    background: var(--background-color-3);
    padding: 10px;
    font-size: 80%;
    font-family: var(--font-family-3);
    cursor: pointer;
    transition: 1s var(--transition-type);
    box-shadow: 5px 5px var(--background-color-2);
    position: relative;
}
.author-name:hover {
    background: var(--background-color-2);
    box-shadow: 10px 10px var(--background-color-3);
}
.author-name:hover .arrow-1,
.author-name:hover .arrow-2,
.author-name:hover .arrow-3
{
    background: white;
}
.author-name:hover .arrow {
    right: 10px;
}

.author-name:hover a:first-child {
    margin-left: 15px;
}
.author-name span {
    font-style: italic;
    margin-right: 5px;
}
.arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
    transition: 0.5s var(--transition-type);
}
.arrow-1, .arrow-2, .arrow-3 {
    width: 22px;
    height: 2px;
    background: #666666;
    transition: 0.4s;
}
.arrow-1 {
    width: 10px;
    transform: translateX(15px) translateY(-1px) rotate(45deg);
}
.arrow-3 {
    width: 10px;
    transform: translateX(15px) translateY(1px) rotate(-45deg);
}

/* --------- Styling for main heading (CSS zen garden) --------*/
header {
    background-image: url("public/images/hero_02.jpg"), linear-gradient(rgb(0,0,0), rgb(0,0,0));
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-family-1);
    transition: 0.4s;
}
.change-background {
    background-image: url("public/images/hero_01.png"), linear-gradient(rgb(255,255,255), rgb(255,255,255));
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.4s;
}
.header {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.header h1 {
    color: var(--color-4);
    margin-top: 200px;
    font-size: 380%;
    letter-spacing: 12px;
    font-weight: 700;
    line-height: 120%;
    transition: 0.4s;
}

.header h3 {
    color: var(--color-4);
    font-size: 90%;
    font-style: italic;
    letter-spacing: 8px;
    margin-top: 50px;
    font-weight: 300;
    transition: 0.4s;
}


/*----------- Style for Getting-Started button --------*/
.getting-started {
    margin-top: 30px;
}
.getting-started a {
    color: var(--color-4);
    position: relative;
    padding: 12px;
    margin: 30px 0;
    font-size: 90%;
    background: var(--background-color-4);
    transition: 0.4s;
    font-family: var(--font-family-2);
    letter-spacing: 1px;
}
.getting-started a:hover {
    background: rgba(255,255,255,0.25);
}
.getting-started a span {
    display: block;
    position: absolute;
    transition: transform 0.3s;
}


/*----------- Make a hover effects for Getting-Started button --------*/
.getting-started a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: var(--color-4);
    transform: scaleY(0);
    transform-origin: top;
}
.getting-started a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
}
.getting-started a span:nth-child(2) {
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: var(--color-4);
    transform: scaleY(0);
    transform-origin: top;
    transition-delay: 0.3s;
}
.getting-started a:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: bottom;
}
.getting-started a span:nth-child(3) {
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background: var(--color-4);
    transform-origin: right;
    transform: scaleX(0);
    transition-delay: 0.3s;
}
.getting-started a:hover span:nth-child(3) {
    transform: scaleX(1);
    transform-origin: left;
}
.getting-started a span:nth-child(4) {
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--color-4);
    transform-origin: right;
    transform: scaleX(0);
}
.getting-started a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
}

/*--------------- Style for beginning-text (Demonstration.....) ---------*/
.beginning-text {
    color: var(--color-4);
    margin-top: 30px;
    font-size: 75%;
    font-style: italic;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.4s;
    font-family: var(--font-family-3);
}
.beginning-text p:last-child {
    margin-top: 30px;
}
.beginning-text p span {
    padding: 10px;
    cursor: pointer;
}
.beginning-text span:hover {
    background: var(--background-color-4);
}


/* ------ Create box model for main-content and add some hover effects for it -------*/
.main-content {
    cursor: pointer;
    color: white;
    width: 70%;
    height: 50%;
    padding: 20px;
    background: var(--background-color-3);
    box-shadow: 10px 10px var(--background-color-2);
    transition: 1s var(--transition-type);
}

.main-content h3 {
    font-size: 150%;
    font-family: var(--font-family-1);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    padding: 8px 0;
}
.main-content h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 50px;
    background: white;
    transform-origin: left;
    transition: 1s var(--transition-type);
}
.main-content p {
    margin: 10px 0;
    font-family: var(--font-family-3);
    font-weight: 100;
    font-size: 80%;
}
.read-more {
    margin: 20px 0;
}
.read-more button {
    outline: none;
    border: none;
    color: white;
    padding: 12px;
    cursor: pointer;
    background: var(--background-color-2);
    letter-spacing: 1px;
    font-size: 90%;
    transition: 1s var(--transition-type);
}
.main-content:hover {
    background: var(--background-color-2);
    box-shadow: 20px 20px var(--background-color-3);
}
.main-content:hover .read-more button {
    background: var(--color-3);
    color: var(--color-1);
}
.main-content:hover h3:after {
    width: 150px;
}


/* -------- Styling for even box (content-box 2 and 4) ---------*/
.even-box {
    background: var(--background-color-2);
    box-shadow: 10px 10px var(--background-color-3);
}
.even-box:hover {
    background: var(--background-color-3);
    box-shadow: 20px 20px var(--background-color-2);
}
.even-box .read-more button {
    background: var(--color-3);
    color: var(--color-1);
}
.even-box:hover .read-more button {
    background: var(--background-color-2);
    color: white;
}
.content-box {
    position: relative;
    overflow: hidden;
}
.content-box p {
    text-align: justify;
}
.content-box i {
    position: absolute;
    font-size: 2000%;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    color: rgba(255,255,255,0.1);
}
.content-box span {
    text-decoration: underline;
}

/* ------ Styling for footer section with some copy right text -------------*/
.footer-section {
    background-color: rgb(44,44,44);
}
.copy-right {
    text-align: center;
}
.copy-right p:after {
    display: block;
    height: 2px;
    width: 100px;
    margin: 30px auto 0 auto;
    background-color: var(--color-2);
    content: " ";
}
.footer-section p,i {
    color: var(--color-2);
}
.icon-footer {
    padding: 20px 0;
    text-align: center;
    font-size: 150%;
}
.icon-footer i {
    margin: 0 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--color-2);
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.icon-footer i:hover {
    background-color: var(--color-2);
    color: #333;
}